body {
    background-color: red;
}
  
  @media (max-width:640px) {
    body{
        background-color: red;
    }
    .tablet{
        display:none;
    }
    .desktop{
        display:none;
    }
    .mobile{
        display:block;
    }
  }
  
  @media (min-width:640px) {
    body{
        background-color: green;
    }
    .tablet{
        display:block;
    }
    .desktop{
        display:none;
    }
    .mobile{
        display:none;
    }
  }
  
  @media (min-width:1024px) {
    body{
        background-color: blue;
    }
    .tablet{
        display:none;
    }
    .desktop{
        display:block;
        color: white;;
    }
    .mobile{
        display:none;
    }
  }